.center {
    display: grid;
    place-items: center;
}

.bg-treehouse {
    background-image: url('../assets/img/treehouse.avif');
    background-size: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 1000px 0px 0px rgba(24, 16, 16, 0.300);
    filter: saturate(2);
}

.bg-pines {
    background-image: url('../assets/img/pinos_replace.svg');
    background-size: cover;
    height: 90px;
    /* width: 100; */
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: -70px;
    /* padding-top:23 ; */

}

.bg-arrow {
    background-image: url('../assets/img/arrows.svg');
    height: 100vh;
    background-repeat: no-repeat;
    contain: content;
}

.bg-attraction {
    background-image: url('../assets/img/attraction.png');
    /* background-size: 100vh; */
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 1000px 0px 0px rgba(24, 16, 16, 0.300);

    filter: saturate(2);

}

.m-header {
    margin-left: 150px;
    margin-right: 200px;
}

/*  
.bg-black-css{
    background-color: rgba(0, 0, 0, 0.237);
} */



.bg-color {
    background-color: #F9ECE4;
    /* height: 100%; */
    /* height: 70vh; */
}

body::-webkit-scrollbar {
    display: none;
}



.text-data {
    opacity: 0;
}


.text-data:hover {
    opacity: 1;
    /* transform: scale(1.1); */

    transition: all 0.4s ease-out;
}


.hide {
    display: none;
}
.hover-text:hover + .hide{
    display:block;
    /* padding: 3rem; */
}
/* media */


@media (max-width: 1194px) {
    .bg-color {
        height: 100%;
    }

}