<div class="position-relative">
    <div>
        <div class="bg-img-channel mt-4 ">

        </div>

        <div class="position-absolute top-50 start-0 translate-middle-y">

            <div class="ps-5 pt-2">
                <h1 class="text-uppercase col-sm-5 fs-90 text-light"><b>Our youtube channel</b></h1>
                <div class="border-bottom border-danger width-10 height-10"></div>
                <p class="col-sm-7 text-start text-light">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolores quibusdam
                    dolor
                    impedit,
                    enim ducimus maxime ipsam labore neque,
                </p>
                <button type="button" class="btn btn-danger rounded-5 text-uppercase ps-5 pe-5 pt-2 pb-2">Subscribe
                    now</button>
            </div>
        </div>



        <div class="position-absolute top-50 end-0 translate-middle-y">
            <div>
                <img class="rounded-5 border-danger border border-1"
                    src="https://i.pinimg.com/564x/73/02/42/730242cbf22f4964734f466431bb315a.jpg" alt="" width="80%" id="image_video">
                <div class="position-absolute top-50 start-50 translate-middle">
                    <i class="fa-solid fa-circle-play color-red fs-1 pointer pe-5 " id="image_video"></i>

                </div>
            </div>
        </div>


    </div>
</div>
<!-- 
<nav class="mt-4">

        <div class="ptop ">

            <div class="row">
                <div class="col-sm-6">
                    <div class="center">
                        <div>
                            <div class="ps-5 ms-1">
                                <h1 class="text-uppercase col-sm-6 fs-90 text-light"><b>Our youtube channel</b></h1>
                                <div class="border-bottom border-danger width-10 height-10"></div>
                                <p class="col-sm-8 text-start text-light">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolores quibusdam
                                    dolor
                                    impedit,
                                    enim ducimus maxime ipsam labore neque,
                                </p>
                                <button type="button"
                                    class="btn btn-danger rounded-5 text-uppercase ps-5 pe-5 pt-2 pb-2">Subscribe
                                    now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="center">
                        <div class="position-relative">
                            <img class="rounded-5 border-danger border border-1"
                                src="https://i.pinimg.com/564x/73/02/42/730242cbf22f4964734f466431bb315a.jpg" alt=""
                                width="80%">
                            <div class="position-absolute top-50 start-50 translate-middle">

                                <i class="fa-solid fa-circle-play color-red fs-1 pointer"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</nav> -->