<!-- comments -->


<div class="position-relative ">

    <div class="bg-img-black"></div>
    <div class="position-absolute top-50 start-50 translate-middle  container-fluid" style="width: 90%; height: 40vh;">
        <h1 class="text-light text-center"><b>CLIENT TESTIMONIALS</b></h1>

        <div class="d-flex justify-content-center mb-3">
            <div class="border-bottom border-danger width-5"></div>
        </div>

        <div class="container-fluid pt-3">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!--  -->
                    <div class="carousel-item active">
                        <div>
                            <div class="center">
                                <h1 class="text-light fst-italic text-center">66</h1>

                            </div>
                        </div>
                        <div class="center">
                            <p class="text-light col-sm-6 text-center">"Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Culpa soluta beatae praesentium!
                                Quam illo cumque quisquam aperiam perferendis laborum in. Perferendis doloribus ab
                                dolore ut
                                aperiam eligendi enim maxime soluta."</p>
                        </div>
                        <div class="center">
                            <b class="text-light fst-italic">George O.</b>
                        </div>
                    </div>
                    <!--  -->
                    <div class="carousel-item">
                        <div>
                            <div class="center">
                                <h1 class="text-light fst-italic text-center">67</h1>

                            </div>
                        </div>
                        <div class="center">
                            <p class="text-light col-sm-6 text-center">"Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Culpa soluta beatae praesentium!
                                Quam illo cumque quisquam aperiam perferendis laborum in. Perferendis doloribus ab
                                dolore ut
                                aperiam eligendi enim maxime soluta."</p>
                        </div>
                        <div class="center">
                            <b class="text-light fst-italic">Alex M.</b>
                        </div>
                    </div>
                    <!--  -->
                    <div class="carousel-item">
                        <div>
                            <div class="center">
                                <h1 class="text-light fst-italic text-center">68</h1>

                            </div>
                        </div>
                        <div class="center">
                            <p class="text-light col-sm-6 text-center">"Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Culpa soluta beatae praesentium!
                                Quam illo cumque quisquam aperiam perferendis laborum in. Perferendis doloribus ab
                                dolore ut
                                aperiam eligendi enim maxime soluta."</p>
                        </div>
                        <div class="center">
                            <b class="text-light fst-italic">Vianey L.</b>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>