<!-- Galery photos -->

<nav class="container-fluid pt-5 pb-5">
    <h1 class="text-center"><b>OUR GALERY</b></h1>
    <div class="d-flex justify-content-center mb-4">
        <div class="border-bottom border-danger width-5"></div>
    </div>

    <div class="container mt-4 ">
        <div class="d-flex justify-content-center">
            <div class="card-group ">

                <div class="col m-2">
                    <div class="card pointer border-0" style="width: 15rem; ">
                        <img src="https://i.pinimg.com/564x/bc/b9/56/bcb95652792e78c8006844d6e3af5df9.jpg"
                            height="350px" width="100%" class="card-img-top rounded-2" alt="...">
                    </div>
                </div>

                <div class="col m-2">
                    <div class="card border-0 pointer" style="width: 15em;">
                        <img src="https://i.pinimg.com/564x/96/2f/d9/962fd9e5c8eb5c58392a4fcea54c0286.jpg"
                            class="card-im g-top rounded-2" alt="...">
                    </div>
                </div>

                <div class="col m-2">
                    <div class="card border-0 pointer" style="width: 15rem;">
                        <img src="https://i.pinimg.com/564x/e7/52/d4/e752d42f15b1c14eb357a3b06d1b7d55.jpg"
                            height="350px" width="100%" class="card-img-top rounded-2" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card-group mb-4">

                <div class="col m-2">
                    <div class="card pointer border-0" style="width: 15rem; ">
                        <img src="https://i.pinimg.com/736x/6c/be/0a/6cbe0a6220c2068eb75ec418bf11528b.jpg"
                            class=" rounded-2" alt="...">
                    </div>
                </div>

                <div class="col m-2">
                    <div class="card border-0 pointer" style="width: 15em;">
                        <img src="https://i.pinimg.com/564x/3f/c8/3f/3fc83fddf9d75a1cd9d8834c67df6084.jpg"
                            height="350px" class="card-im g-top rounded-2" alt="..."
                            style="position: relative; margin-top: -110px;">
                    </div>
                </div>

                <div class="col m-2">
                    <div class="card border-0 pointer" style="width: 15rem;">
                        <img src="https://i.pinimg.com/564x/63/d2/68/63d268caf0fd600a2958db7f713d8665.jpg"
                            class="rounded-2" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button class="btn btn-danger rounded-5">View All</button>
    </div>

</nav>