<!--  -->
<nav class="container-fluid pt-5 pb-5">

    <div class="container mt-4 ">
        <div class="d-flex justify-content-center">
            <div class="card-group mb-4">
                
                <div class="col m-2">
                    <div class="card border-1 p-3  pt-5 pb-5 pointer " style="width: 20rem; ">

                        <div class="center">
                            <img src="../assets/img/membershi.png" width="50px" alt="">
                        </div>
                        <h5 class="text-uppercase text-center p-2"><b>MemberShip</b></h5>
                        
                        
                        <div class="position-absolute top-50 start-0 translate-middle-y">
                            <div class="bg-danger bg-opacity-75 text-data rounded-2" style="height: 200px;"
                                id="text-data">
                                <div class="center" style="height: 220px;">
                                    <p class="text-light container text-justify border pt-4 pb-4  ms-3 me-3"
                                        style="font-size: 11px;">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore est ipsa
                                        voluptas
                                        magnam molestias, nisi adipisci numquam dolor porro tenetur voluptatem alias
                                        cupiditate officiis rem blanditiis. Fugiat voluptatem aut eaque.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col m-2">
                    <div class="card border-1 p-3  pt-5 pb-5 pointer " style="width: 20rem; ">

                        <div class="center">
                            <img src="../assets/img/connect.png" width="50px" alt="">
                        </div>
                        <h5 class="text-uppercase text-center p-2"><b>Connect</b></h5>
                        
                        
                        <div class="position-absolute top-50 start-0 translate-middle-y">
                            <div class="bg-danger bg-opacity-75 text-data rounded-2" style="height: 200px;"
                                id="text-data">
                                <div class="center" style="height: 220px;">
                                    <p class="text-light container text-justify border pt-4 pb-4  ms-3 me-3"
                                        style="font-size: 11px;">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore est ipsa
                                        voluptas
                                        magnam molestias, nisi adipisci numquam dolor porro tenetur voluptatem alias
                                        cupiditate officiis rem blanditiis. Fugiat voluptatem aut eaque.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col m-2">
                    <div class="card border-1 p-3  pt-5 pb-5 pointer " style="width: 20rem; ">

                        <div class="center">
                            <img src="../assets/img/testimonial.png" width="50px" alt="">
                        </div>
                        <h5 class="text-uppercase text-center p-2"><b>testimonial</b></h5>
                        
                        
                        <div class="position-absolute top-50 start-0 translate-middle-y">
                            <div class="bg-danger bg-opacity-75 text-data rounded-2" style="height: 200px;"
                                id="text-data">
                                <div class="center" style="height: 220px;">
                                    <p class="text-light container text-justify border pt-4 pb-4  ms-3 me-3"
                                        style="font-size: 11px;">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore est ipsa
                                        voluptas
                                        magnam molestias, nisi adipisci numquam dolor porro tenetur voluptatem alias
                                        cupiditate officiis rem blanditiis. Fugiat voluptatem aut eaque.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                
            </div>
        </div>
    </div>
</nav>