<!--  -->
<nav class="container-fluid bg-dark">
    <div class="d-flex justify-content-center ">
        <h1 class="text-light text-center col-sm-6 mt-5">
            UNCOMPROMISED QUALITY,
            UNRIVALED STRENGTH
        </h1>
    </div>
    <div class="d-flex justify-content-center">
        <div class="border-bottom border-danger width-5"></div>
    </div>
    <div class="container mt-4 ">
        <div class="d-flex justify-content-center">
            <div class="card-group mb-4">
                <div class="col m-2">
                    <div class="card pointer border-0" style="width: 15rem; ">
                        <img src="https://i.pinimg.com/564x/ca/d8/27/cad82708954ea989e86c03205f7d6de1.jpg"
                            height="350px" width="100%" class="card-img-top rounded-2" alt="...">

                        <div class="ps-3 position-absolute bottom-0 start-0">

                            <div class="rounded">
                                <p class="lh-sm">
                                    <b class="text-light lh-sm text-uppercase">
                                        Elite equipment
                                    </b>
                                </p>
                                <p class="lh-sm color-red">
                                    learn more
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                        height="15px" width="15px">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                            <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#ff4a4a" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round">
                                            </path>
                                        </g>
                                    </svg>
                                </p>

                            </div>
                        </div>


                        <div class="position-absolute top-50 start-0 translate-middle-y">
                            <div class="bg-danger bg-opacity-75 text-data rounded-2" style="height: 350px;"
                                id="text-data">
                                <div class="center" style="height: 350px;">
                                    <p class="text-light container text-justify border pt-10 pb-10  ms-3 me-3"
                                        style="font-size: 11px;">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore est ipsa
                                        voluptas
                                        magnam molestias, nisi adipisci numquam dolor porro tenetur voluptatem alias
                                        cupiditate officiis rem blanditiis. Fugiat voluptatem aut eaque.
                                    </p>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="col m-2">
                    <div class="card border-0 pointer" style="width: 15rem;">
                        <img src="https://i.pinimg.com/564x/af/77/71/af7771d0b7cf46f548926c37a63f6ef1.jpg"
                            height="350px" width="100%" class="card-img-top rounded-2" alt="...">

                        <div class="ps-3 position-absolute bottom-0 start-0">

                            <div class="rounded">
                                <p class="lh-sm">
                                    <b class="text-light lh-sm text-uppercase">
                                        experte guidance
                                    </b>



                                </p>
                                <p class="lh-sm color-red">
                                    learn more
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                        height="15px" width="15px">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                            <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#ff4a4a" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round">
                                            </path>
                                        </g>
                                    </svg>
                                </p>

                            </div>
                        </div>

                        <div class="position-absolute top-50 start-0 translate-middle-y">
                            <div class="bg-danger bg-opacity-75 text-data rounded-2" style="height: 350px;"
                                id="text-data">
                                <div class="center" style="height: 350px;">
                                    <p class="text-light container text-justify border pt-10 pb-10  ms-3 me-3"
                                        style="font-size: 11px;">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore est ipsa
                                        voluptas
                                        magnam molestias, nisi adipisci numquam dolor porro tenetur voluptatem alias
                                        cupiditate officiis rem blanditiis. Fugiat voluptatem aut eaque.
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col m-2">
                    <div class="card border-0 pointer" style="width: 15rem;">
                        <img src="https://i.pinimg.com/564x/a1/64/b8/a164b865f4fc60627d80c439c12e50e8.jpg"
                            height="350px" width="100%" class="card-img-top rounded-2" alt="...">

                        <div class="ps-3 position-absolute bottom-0 start-0">



                            <div class="rounded">
                                <p class="lh-sm">
                                    <b class="text-light lh-sm text-uppercase">
                                        Custom plans
                                    </b>



                                </p>
                                <p class="lh-sm color-red">
                                    learn more
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                        height="15px" width="15px">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                            <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#ff4a4a" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round">
                                            </path>
                                        </g>
                                    </svg>
                                </p>

                            </div>
                        </div>

                        <div class="position-absolute top-50 start-0 translate-middle-y">
                            <div class="bg-danger bg-opacity-75 text-data rounded-2" style="height: 350px;"
                                id="text-data">
                                <div class="center" style="height: 350px;">
                                    <p class="text-light container text-justify border pt-10 pb-10  ms-3 me-3"
                                        style="font-size: 11px;">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore est ipsa
                                        voluptas
                                        magnam molestias, nisi adipisci numquam dolor porro tenetur voluptatem alias
                                        cupiditate officiis rem blanditiis. Fugiat voluptatem aut eaque.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>