<div class="position- relative">
    <nav class=" position-absolute top-50 start-0 translate-middle-y ">
        <div class="ms-200 mb-100  ">
            <h1 class="col-sm-10" id="size-banner" style="position:inherit">Adopt, <br> Don´t shop</h1>
            <p class="text-light col-sm-7 mt-3">Buying animal is killin animals. Save a homeless dog or cat - Always
                adopt
                and never
                buy</p>
            <div class="mt-5">
                <div class="d-flex">
                    <i class="fa-brands fa-youtube text-light fs-4 me-2"></i>
                    <p class="text-light">Watch video</p>
                </div>
            </div>
        </div>
    </nav>
</div>