<nav class="position-absolute start-0 bottom-0 ms-200 mb">
    <div class="d-flex">
        <div class="m-3">
            <div class="bg-secondary rounded-circle p-2 opacity-75">
                <div class="text-light "> 01 </div>
            </div>
            <div class="position-relative">
                <div class="position-absolute ms-3 ">
                    <div class="border-end" style="height:50px;"></div>
                </div>
            </div>
        </div>
        <div class="m-3">
            <div class="bg-secondary rounded-circle p-2 opacity-75">
                <div class="text-light "> 02 </div>
            </div>

        </div>
        <div class="m-3">
            <div class="bg-secondary rounded-circle p-2 opacity-75">
                <div class="text-light "> 03 </div>
            </div>

        </div>
        <div class="m-3">
            <div class="bg-secondary rounded-circle p-2 opacity-75">
                <div class="text-light "> 04 </div>
            </div>

        </div>
    </div>
</nav>