.about_us {
    background-image: url('../assets/vecteezy_yellow-swirl-background_24589053.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    background-position: center;
    box-shadow: inset -233435px 3px 1005px -1000px hsla(0, 0%, 10%, 0.447);
}
.m-right{
    margin-left: 200px;
}

.btn-outline-coffee{
    color: #462a07;
    border-color: #462a07;
    border: 2px solid #462a07;
}
    @media (max-width: 1024px) {
        #images_about{
            display: none;
        }
        .col-sm-6{
            width: 100vh;
        }
    }