<!-- About us -->
<nav class="container-fluid mt-5 mb-5">
    <h1 class="text-center mt-5"><b>SHOWCASE STRENGTH & FITNESS</b></h1>
    <div class="d-flex justify-content-center mb-2">
        <div class="border-bottom border-danger width-5"></div>
    </div>
    <div class="d-flex justify-content-center">
        <p class="col-sm-7 text-center">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo laudantium rem
            corporis enim vel obcaecati assumenda, consequatur quidem incidunt quae illum, possimus fugiat, aliquid
            debitis optio rerum. Maiores, eos esse!
            Nobis, quisquam veniam culpa repellat facilis totam architecto libero voluptatibus delectus fugiat
            consequatur officiis autem doloribus pariatur odit ut doloremque laboriosam facere illum ab odio earum?
            Deserunt qui accusantium nam.
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-outline-danger rounded-5">Join us today</button>
    </div>
</nav>