<nav>
    <div class="container-fluid">
        <h1 class="text-center mt-5"><b>ARTICLES & NEWS</b></h1>
        <div class="d-flex justify-content-center mb-2">
            <div class="border-bottom border-danger width-5"></div>
        </div>

        <div class="container mt-4 ">

            <div class="d-flex justify-content-center">
                <div class="card-group mb-4">
                    <div class="col m-2">
                        <div class="card  border-0" style="width: 16rem; ">
                            <img src="https://i.pinimg.com/564x/bb/da/21/bbda213c07a6de76979456d3c13335d3.jpg"
                                class="card-img-top rounded-2" alt="...">
                            <div class="container">
                                <div class="pt-3">
                                    <div class="d-flex ">
                                        <i class="fa-regular fa-calendar pt-1 color-red"></i>
                                        <div class="text-secondary">14/01/2024</div>
                                    </div>
                                    <div class=""><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b>

                                        <div class="">

                                            <div class="rounded">
                                                <div class="lh-sm">
                                                    <b class="text-light lh-sm text-uppercase">
                                                        Custom plans
                                                    </b>



                                                </div>
                                                <p class="lh-sm color-red pointer">
                                                    Show more
                                                    <svg viewBox="0 0 24 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg" height="15px" width="15px">
                                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                        </g>
                                                        <g id="SVGRepo_iconCarrier">
                                                            <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#ff4a4a"
                                                                stroke-width="2" stroke-linecap="round"
                                                                stroke-linejoin="round">
                                                            </path>
                                                        </g>
                                                    </svg>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col m-2">
                        <div class="card border-0 pointer" style="width: 16rem;">
                            <img src="https://i.pinimg.com/564x/a4/81/74/a48174a1b461d0e5d6c0cd1675d0189b.jpg"
                                class="card-img-top rounded-2" alt="...">
                            <div class="container">
                                <div class="pt-3">
                                    <div class="d-flex ">
                                        <i class="fa-regular fa-calendar pt-1 color-red"></i>
                                        <div class="text-secondary">14/01/2024</div>
                                    </div>
                                    <div class=""><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b>

                                        <div class="">

                                            <div class="rounded">
                                                <div class="lh-sm">
                                                    <b class="text-light lh-sm text-uppercase">
                                                        Custom plans
                                                    </b>



                                                </div>
                                                <p class="lh-sm color-red pointer">
                                                    Show more
                                                    <svg viewBox="0 0 24 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg" height="15px" width="15px">
                                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                        </g>
                                                        <g id="SVGRepo_iconCarrier">
                                                            <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#ff4a4a"
                                                                stroke-width="2" stroke-linecap="round"
                                                                stroke-linejoin="round">
                                                            </path>
                                                        </g>
                                                    </svg>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col m-2">
                        <div class="card border-0 pointer" style="width: 16rem;">
                            <img src="https://i.pinimg.com/564x/9b/13/72/9b1372fd0d7723be844714e880aa1dea.jpg"
                                class="card-img-top rounded-2" alt="...">

                            <div class="container">
                                <div class="pt-3">
                                    <div class="d-flex ">
                                        <i class="fa-regular fa-calendar pt-1 color-red"></i>
                                        <div class="text-secondary">14/01/2024</div>
                                    </div>
                                    <div class=""><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b>

                                        <div class="">

                                            <div class="rounded">
                                                <div class="lh-sm">
                                                    <b class="text-light lh-sm text-uppercase">
                                                        Custom plans
                                                    </b>



                                                </div>
                                                <p class="lh-sm color-red pointer">
                                                    Show more
                                                    <svg viewBox="0 0 24 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg" height="15px" width="15px">
                                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                        </g>
                                                        <g id="SVGRepo_iconCarrier">
                                                            <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#ff4a4a"
                                                                stroke-width="2" stroke-linecap="round"
                                                                stroke-linejoin="round">
                                                            </path>
                                                        </g>
                                                    </svg>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</nav>

<div class="text-center">
    <button class="btn btn-danger rounded-5 ">View All</button>
</div>