<!-- section icons  -->
<nav class="container-fluid ">
    <div class="d-flex justify-content-center ">
        <h1 class="text-dark text-center col-sm-8 mt-5 ">
            <b class="font-monospace">READY TO TRASCENDEND YOUR LIMITS</b>
        </h1>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <div class="border-bottom border-danger width-5"></div>
    </div>

    <div class="container">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="card-group mb-4">
                    <div class="col">
                        <div class="p-1">
                            <div class="center">
                                <img src="./assets/img/join.png" width="20%">
                            </div>
                            <div class="p-3 text-center">
                                <b>JOIN TODAY</b>
                                <p class="fs -6">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Exercitationem
                                    deserunt dolores maxime facilis odio saepe dolor maiores rerum natus dignissimos
                                    laboriosam harum dolorem.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col ">
                        <div class="center">
                            <img src="./assets/img/strong.png" width="20%">
                        </div>
                        <div class="p-3 text-center">
                            <b>START STRONG</b>
                            <p class="fs -6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
                                deserunt dolores maxime facilis odio saepe dolor maiores rerum natus dignissimos
                                laboriosam harum dolorem.
                            </p>
                        </div>

                    </div>

                    <div class="col ">
                        <div class="center">
                            <img src="./assets/img/fist.png" width="20%">
                        </div>
                        <div class="p-3 text-center">
                            <b>POWERLIFTING PASSION</b>
                            <p class="fs -6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
                                deserunt dolores maxime facilis odio saepe dolor maiores rerum natus dignissimos
                                laboriosam harum dolorem.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>