<!-- meet coach -->
<nav class="position-relative">
    <div class="bg-image-met"></div>
    <div class="position-absolute top-50 start-0 translate-middle-y">
        <div class="container ps-5">
            <h1 class="text-uppercase col-sm-4 fs-90">Meet Jordan wong</h1>
            <div class="border-bottom border-danger width-10"></div>
            <p class="col-sm-5 text-start">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolores quibusdam dolor impedit,
                enim ducimus maxime ipsam labore neque, sapiente molestias minima distinctio eius! Eligendi minus
                voluptas nostrum repellendus adipisci! enim ducimus maxime ipsam labore neque, sapiente molestias
                minima distinctio eius! Eligendi minus
            </p>
            <button type="button" class="btn btn-danger rounded-5 ps-5 pe-5 pt-2 pb-2">Learn more</button>
        </div>
    </div>
</nav>