.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}
.bg-green {
    background-color: green;
}
.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: #FFC640;
}

.bg-white {
    background-color: white;
}

.bg-121D36 {
    background-color: #121D36;
}

.bg-transparente {
    background-color: rgba(255, 255, 255, 0.5)
}

/*  */

.color-yellow {
    color: #FFC640;
}

.color-white {
    color: white;
}

.color-blue {
    color: #0A101E;
}
.color-blue {
    color: rgb(10, 16, 30);
}