
  
  /* .navbar-t {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
  } */
  
  .navbar-t a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar-t a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
  }
  
  .active {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
  }
  
  .content {
    height: 2000px; /* Solo para propósitos de demostración */
    padding: 20px;
  }
  